<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/predictAge.css">

    <title>Your Age</title>
</head>

<body>
<h2>From my predictions, </h2>
<h1><em><%- name %></em></h1>
<p>is <strong><%- age %></strong> years old.</p>

<br/><br/><br/>

<div class="centerButtons">
    <a href="https://guess-your-age.herokuapp.com/">HOME</a>
</div>
</body>
</html>